
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<title>LPサイトテンプレート</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="assets/css/common.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
</head>
<body>
	<header class="header">
		<h1><img src="https://placehold.jp/666666/ffffff/750x480.png" alt=""></h1>
	</header>
	<main>
		<!-- cvr -->
		<%- include('tpl/_cvr') %>

		<div class="youtube-box">
			<div class="youtube">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/siG6etT29YM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		</div>

    <section class="s10__wrap faq">
      <h2>よくあるご質問</h2>
      <div class="faq__inner fadein">
        <div class="acc__wrap faq__box">
          <div class="question">
            <p>Q</p>
            <p>質問タイトル？</p>
          </div>
          <div class="answer">
            <p>アンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキスト</p>
          </div>
        </div>
        <div class="acc__wrap faq__box">
          <div class="question">
            <p>Q</p>
            <p>質問タイトル？</p>
          </div>
          <div class="answer">
            <p>アンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキスト</p>
          </div>
        </div>
        <div class="acc__wrap faq__box">
          <div class="question">
            <p>Q</p>
            <p>質問タイトル？</p>
          </div>
          <div class="answer">
            <p>アンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキスト</p>
          </div>
        </div>
        <div class="acc__wrap faq__box">
          <div class="question">
            <p>Q</p>
            <p>質問タイトル？</p>
          </div>
          <div class="answer">
            <p>アンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキスト</p>
          </div>
        </div>
      </div>
    </section>

		<!-- cvr -->
		<%- include('tpl/_cvr') %>

	</main>

	<footer class="footer">
		<p class="page-top"><a href="#">
			<svg version="1.1" id="page_top_arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="8px" viewBox="0 0 14 8"><polyline points="1,7 7,1 13,7 "/></svg>
		</a></p>
		<p class="copyright"><small>&copy; 2023 sample</small></p>
	</footer>

  <script src="assets/js/common.js"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
